.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  --swiper-navigation-color: white;
  --swiper-theme-color: white;
  --swiper-navigation-size: 48px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  -webkit-text-stroke: 1px lightgray;
}
