@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, GmarketSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.keep-all {
  word-break: keep-all;
}